@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0077c0;
  --color-accent: #c7eeff;
  --color-bg: #000;
  --color-text: #fafafa;

  --font-display: "Roboto Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
